{% extends 'accounts/base.html' %}



{% block content %}
{% csrf_token %}
    <div class="container">
        <div class="jumbotron">
            <h1>  {{ user.username }} profile's</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-body">
                        <p>Email: {{ user.email }}</p>
                        <p>Door no: {{ user.userdata.door_no}}</p>
                        <p>Street: {{ user.userdata.street}}</p>
                        <p>City: {{ user.userdata.city}}</p>
                        <p>Pin code: {{ user.userdata.zipcode}}</p>
                        <a href="{% url 'update' %}"><button class="btn btn-success" >UPDATE</button></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-dody">
                        {% if user.userdata.profile_pic %}
                            <img src="{{ user.userdata.profile_pic.url }}" height="200px" width="200px" alt="Profile Picture">
                            <p>Profile Picture</p>
                        {% else %}
                            <h1>no image</h1>
                        {% endif %}
                    </div>
                </div>
            </div><br>
            <input type="submit" class="btn btn-success" value="EDIT PROFILE">
        </div>
    </div>
    <br>
    <div class="container">
        <div class="jumbotron">
            <div class="card card-body">
                <div class="row" style="text-align: center;">
                    <div class="col-md-4">
                        <p>Total Defects assigned</p>
                        <h2>{{defects_count}}</h2>
                    </div>
                    <div class="col-md-4">
                        <p>complted defects</p>
                        <h2>{{completed}}</h2>
                    </div>
                    <div class="col-md-4">
                        <p>Pending</p>
                        <h2>{{pending}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}