<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif; line-height: 1.6;color: #333;
        }
        .container{
            max-width: 600px; margin: 0 auto;padding: 20px;
        }
        .header{
            background-color: #f4f4f4; padding: 10px; text-align: center;
        }
        .content{
            padding: 20px;
        }
        .footer{
            font-size: 12px; color: #777; text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Defect Asssigenment</h2>
        </div>
        <div class="content">
            <p>Dear Employee,</p>
            <p>You have been assigned a new defect with following details:</p>
            <ul>
                <li><strong>Defect Name:</strong>Task !</li>
                <li><strong>Description:</strong>bgb nb nbi bh  b</li>
                <li><strong>Deadline:</strong>Feb 30</li>
            </ul>
            <p>Please confirm details of this email and let me know if you have any quesries</p>
            <p>Best regards,</p>
            <p>Testing Team</p>
        </div>
        <div class="footer">
            <p>This is automated email. Please do not reply directly to this me:</p>
        </div>
    </div>
</body>
</html>